<h3>Attributes</h3>
<div class='row'>
  <div class='col-md-4'>
    <h4>Physical</h4>  
    <%= render 'attribute', attribute: 'strength' %>
    <%= render 'attribute', attribute: 'dexterity' %>
    <%= render 'attribute', attribute: 'stamina' %>
  </div>
  <div class='col-md-4'>
    <h4>Social</h4>
    <%= render 'attribute', attribute: 'charisma' %>
    <%= render 'attribute', attribute: 'manipulation' %>
    <%= render 'attribute', attribute: 'appearance' %>
  </div>

  <div class='col-md-4'>
    <h4>Mental</h4>
    <%= render 'attribute', attribute: 'perception' %>
    <%= render 'attribute', attribute: 'intelligence' %>
    <%= render 'attribute', attribute: 'wits' %>
  </div>
</div>
