<div class='row'>
  <div class='col-md-12'>
    <h1>Characters</h1>
  </div>
</div>

<% @characters.each do |character| %>
  <div class='row'>
    <div class='col-md-12'>
      <h2><%= link_to character.name, character_path(character) %> (<%= character.player %>)</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'><%= character.calling %></div>
    <div class='col-md-3'><%= character.nature %></div>
    <div class='col-md-3'><%= character.pantheon %></div>
    <div class='col-md-3'><%= character.role %></div>
  </div>
<% end %>

<div class='row'>
  <div class='col-md-12'>
    <%= link_to 'New Character', new_character_path %>
  </div>
</div>
